body{
    background-image: url("../../img/sistema/ba1.png");
    background-repeat: repeat;
}
nav input[type=search]::-webkit-input-placeholder{ color: transparent; }
nav input[type=search]::-moz-input-placeholder{ color: transparent; }
nav input[type=search]::-ms-input-placeholder{ color: transparent; }
nav input[type=search]:focus::-webkit-input-placeholder{ color: #ddd6d2; }
nav input[type=search]:focus::-moz-input-placeholder{ color: #ddd6d2; }
nav input[type=search]:focus::-ms-input-placeholder{ color: #ddd6d2; }
.img-thumbnail {
    padding: .2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: .2rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 145px;
    height: auto;
    cursor: zoom-in;
}
.card>a{
	color: rgba(0, 0, 0, 0.87);
}
.card{
	transition: all .25s ease-in-out;
}
.card:hover{
	-webkit-transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	-ms-transform: scale(1.02,1.02);
	transform: scale(1.02,1.02);
}
.card .card-action{
	padding: 2px 10px;
}
.card .card-content{
	padding: 10px 10px;	
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}
.preloader{
	width: 100%;
    float: left;
    position: fixed;
    z-index: 1090;
    height: 100%;
    background: rgba(255,255,255,.7);
    text-align: center;
    padding-top: 25%;
}
.slider.g-slider .slides li .caption{
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.61);
}
.slider.g-slider .slides li .caption h3{
	font-size: 1.2em;
}
.slider.g-slider .indicators {
    top: 75%;
    z-index: 2;
    padding-top: 5%;
}
.slider.g-slider .indicators .indicator-item {
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: rgba(224, 224, 224, 0.45);
}
.slider.g-slider .indicators .indicator-item.active {
    background-color: #f9f9f9;
}
.slider.g-slider .slides li img{
	cursor: zoom-in;
}
.carousel.g-carousel .indicators .indicator-item{
	background-color: rgba(0, 0, 0, 0.34);
}
.carousel.g-carousel .indicators .indicator-item.active {
    background-color: rgba(0, 0, 0, 0.9);
}
.carousel.carousel-slider .carousel-item {
	overflow-y: hidden;
}
.carousel .carousel-item {
	overflow-y: auto;
	height: 100%;
}
.carousel.g-carousel .carousel-title {
    float: left;
    position: absolute;
    width: 50%;
    top: 0px;
}
.carousel.g-carousel ul.collapsible.popout {
    margin: 0px;
}
.carousel.g-carousel ul.collapsible.popout li {
    padding: 0px;
    margin: 0px;box-shadow: none;
}
.carousel.g-carousel ul.collapsible.popout li div.collapsible-header{
   width: 60px;
   background-color: rgba(255, 255, 255, 0.55);
   border-bottom: none;
}
.carousel.g-carousel ul.collapsible.popout li div.collapsible-body{
   background-color: rgba(255, 255, 255, 0.55);
}
.text-justify{
	text-align: justify;
}
.tabs .indicator {
    background-color: #448AFF !important;
}
.tabs .tab a:hover, .tabs .tab a.active,.tabs .tab a {
    color: #448AFF;
}
.collection.with-header .collection-item {
    padding-left: 15px;
}
ul.collection.g-collection li{
	padding-top: 10px;
}
.material-placeholder{
	position: absolute;
	z-index: 1;
	top: 0;
}
div.tabs-content.carousel{
	height: 700px;
}
.button-label{
	background-color: transparent;
    border: none;
}
/*--- Modal ---*/
#modal_visor{ z-index: 1060; }
#dialog_visor{ 
    z-index: 1060; 
    position: relative;
}
#modal_visor{
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgba(0,0,0,.30);
    position: fixed;
    overflow: auto;
    text-align: center;
    display: none;
}
#modal_visor{
    background: rgba(0,0,0,.81);
}
#dialog_visor .modal-header.sub-modal-header{
    border: 0px;
    padding: 5px;
}
#modal_visor button.closed_visor{
    color: #c1c1c1;
    background-color: transparent;
    border: 0px;
    font-size: 3rem;
    float: left;
    position: absolute;
    top:-15px;
    left: 0px;
    z-index: 1061;
}
@media(min-width: 544px){
    #dialog_visor{
        max-width: 800px;
        margin: 2px auto;
    }
}
.carousel.g-carousel figure{
    margin: 0px;
}
.carousel.g-carousel .carousel-item{
    padding: 0px;
}
.carousel.g-carousel figure figcaption{
    height: 50px;
    color: #c7c7c7;
    text-align: left;
    background: rgba(0,0,0,.81);
    padding: 1px 5px;
    overflow: auto;
}
@media(max-width: 880px){
    .carousel.g-carousel figure figcaption{
        padding: 1px 38px;
        height: 70px;
    }
}
.carousel.g-carousel ul.indicators{
    top: 50px;
    bottom: inherit;
    opacity: 0;
    -webkit-transition: opacity .9s ease-in-out;
}
.carousel.g-carousel ul.indicators:hover{
    opacity: 1;
}
.carousel.g-carousel ul.indicators li.indicator-item{
    height: 15px;
    width: 15px;
}
@media only screen and (min-width: 993px){
    table.responsive-table, th, td {
      margin-top: 10px;
      border: 1px solid #e0e0e0;;
    }
}

.collection strong{
    font-weight: 500;
}

.card span.badge.new {
    float: right;
    position: absolute;
    z-index: 1;
}
 /* label focus color */
   .input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label {
     color: #0288d1;
}
/* label underline focus color */
   .input-field input[type=text]:focus,.input-field input[type=password]:focus {
     border-bottom: 1px solid #0288d1;
     box-shadow: 0 1px 0 0 #0288d1;
}
.input-field .prefix.active {
  color: #0288d1;
}
.container-login{
    padding-top: 20px;
    z-index: 1;
}
@media(max-width: 544px){
    .container-login{
        padding-top: 5px;
    }
    .container-login img.image-login{
        width: 70%;
    }
}
@media(max-width: 544px){
    .container-login{
        padding-top: 5px;
    }
    .container-login img.image-login{
        width: 70%;
    }
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
footer{
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
}
.input-alert{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: right;
    padding-right: 15px;
}
.author{
    color: rgba(0,0,0,.6);
    text-align: right;
    cursor: help;
}
.progress{
    float: left;
    width: 110%;
    left: -24px;
    bottom: -12px;
    background-color: rgba(255, 255, 255, 0);
}
.progress .indeterminate{
    background-color: rgba(2, 136, 209, .8);
}
.row.row-login{
    margin-left: 0rem;
    margin-right: 0rem;
}