@media print{
	@font-face{font-family:'FontAwesome';src:url('../../fonts/fontawesome-webfont5b62.eot?v=4.6.3');src:url('../../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.6.3') format('embedded-opentype'),url('../../fonts/fontawesome-webfont5b62.html?v=4.6.3') format('woff2'),url('../../fonts/fontawesome-webfont5b62.woff?v=4.6.3') format('woff'),url('../../fonts/fontawesome-webfont5b62.ttf?v=4.6.3') format('truetype'),url('../../fonts/fontawesome-webfont5b62.svg?v=4.6.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}
	*{
		font-family: 'Arial','Times New Roman';
	}
	.text-center {
		text-align: center;
	}
	.text-left {
		text-align: left;
	}
	.text-right {
		text-align: right;
	}
	table.tabla{  
		display: table;
		width: 100%;
		border-collapse: collapse;
	}
	table.tbl-bordered{
		border-left: 1px solid rgba(0,0,0,1);
		border-top: 1px solid rgba(0,0,0,1);
	}
	table.tbl-bordered .fila .celda{
		border-right: 1px solid rgba(0,0,0,1);
		border-bottom: 1px solid rgba(0,0,0,1);
		vertical-align: top;
	}
	table.tbl-bordered .fila .celda.img{
		padding: 0px;
	}
	table.tbl-bordered .fila .celda.img img{
		margin: 1px 4px;
	}
	.padding-4{
		padding: 4px;
	}
	table.tbl-no-bordered{
		border-left: 0px;
		border-top: 0px;
	}
	table.tbl-no-bordered .fila .celda{
		border-right: 0px;
		border-bottom: 0px;
		vertical-align: top;
	}
	table.tabla.font-10{
		font-size: 10px;
	}
	.img-thumbnail-30{
	    width: 30px;
	}
	.img-thumbnail-35{
	    width: 35px;
	}
	.img-thumbnail-40{
	    width: 40px;
	}
	.img-thumbnail-45{
	    width: 30px;
	}
	.img-thumbnail-50{
	    width: 50px;
	}
	.img-thumbnail-60{
	    width: 60px;
	}
	/*span#paginas:after{
		counter-increment: pagina;
		content: counter(pagina);
		}*/
			table{border-collapse: collapse;}
			tr {
				page-break-inside: avoid
			}
			td.sub-table{
				padding: 0px;
			}
			td.sub-table table{
				border: 0px;
				font-size: .9rem;
			}
			td.sub-table table tr{
				border-bottom: 1px solid rgba(0,0,0,1);
			}
			td.sub-table table tr:last-child{
				border-bottom: 0px;
			}
			td.sub-table table tr.tr:nth-child(even){
				background: rgba(192,192,192,.25);
			}
			td.sub-table table tr td{
				border-right: 1px solid rgba(0,0,0,1);
				padding: 1px 6px;
			}
			td.sub-table table tr td:last-child{
				border-right: 0px;
			}
			td.sub-table table tr td div.print-info{
				padding: 5px;
			}
			.disabled-print{display: none !important;}
			.item{
				border-collapse: collapse;
				border: 1px solid rgba(0,0,0,.9);
				float: left;
				position: absolute;
				padding-left: 3px;
				padding-right: 3px;
				background: rgba(255,255,255,.75);
				font-weight: bold;
				z-index: 1;
				font-size: .85em;
			}
			td.celda div.item{
				border-top: 0px;
				border-left: 0px;
				border-right: 1px solid rgba(0,0,0,1);
				border-bottom: 1px solid rgba(0,0,0,1);
			}
			#area table.tabla>thead>tr.fila.title{
				display: visible;
			}
			div#area > table.tabla > thead > th > img{
				float: left;
			}
			#area table.tabla thead > th > div.print-info{
				float: right;border: solid 1px rgba(0,0,0,1);width: 160px;height: 100%;font-size: .45rem;text-align: left;
			}
	div.rangos {
	  width: 226px;
	  display: inline-block;
	  padding: 0px;
	  overflow-x: auto;
	}
	input.rango { display: none; }
	label.rango {
	  float: right;
	  padding: 3px;
	  font-size: 1.1rem;
	  color: #d2d2d2;
	  margin-bottom: 0px;
	}
	input.rango:checked ~ label.rango:before {
	  color: #1b8bf9;
	  transition: all .3s;
	}
	.fa{
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	.fa-star:before{content:"\f005"}
}

.label-inverse-success {
    color: #4CAF50;
    border: 1px solid #4CAF50;
    padding: .5px 4px;
    margin-top:1px;
    font-size: 7.5px;

}

.label-inverse-danger {
    color: #ff5252;
    border: 1px solid #ff5252;
    padding: .5px 4px;
    font-size: 7.5px;
    margin-top:1px;

}